.menu-toggle { outline: none; }
.menu-toggle img { height: 32px; padding: .5rem; width: 32px; }

/*
 * MENU - MAIN - MAX-WIDTH: 767px
 */
.menu { display: none; position: relative; }
.menu ul { list-style: none; margin: 0; padding: 0; position: relative; }
.menu ul > li a { display: block; outline: none; text-decoration: none; white-space: nowrap; }
.menu ul > li ul { display: none; position: relative; }
.menu ul > li:hover ul { display: block; }

/*
 * MENU - STYLE
 */
.menu { background-color: #e0e0e0; color: #333; font-size: 1em; }
.menu .menu-item > a { border-bottom: 2px solid #ae5a41; }
.menu ul > li a { color: #333; font-weight: bold; padding: .5rem; }
.menu ul > li ul { background-color: #e0e0e0; }
.menu ul > li li { margin-left: .5rem; }
.menu ul > li li a { color: #555; }
.menu ul > li li a:hover { background-color: #ae5a41; color: #e0e0e0; }

@media (min-width: 768px) {
	.menu-toggle { display: none; }
	.menu { display: block; }
	.menu .menu-item { display: inline-block; }
	.menu .menu-item > a { border-bottom: 2px solid transparent; }
	.menu .menu-item:hover > a { border-bottom: 2px solid #ae5a41; }
	.menu ul > li ul { box-shadow: 0px 5px 5px #999; display: none; margin: 0; position: absolute; z-index: 1; }
	.menu ul > li li { margin: 0; }	
}

@media (min-width: 992px) {
	body { width: 800px; }
}
@media (min-width: 1200px) {
	body { width: 980px; }
}